{% extends "layouts/base.html" %}
{% load crispy_forms_tags %}

{% block title %} UI Forms {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
                
    <main class="content">

        {% include 'includes/navigation.html' %}

        <div class="py-4">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb breadcrumb-dark breadcrumb-transparent">
                    <li class="breadcrumb-item"><a href="#"><span class="fas fa-home"></span></a></li>
                    <li class="breadcrumb-item"><a href="#">Membership</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Forms</li>
                </ol>
            </nav>
        </div>

        <h2 class="h4">Member's Personal Information Form</h2>
        <!-- {{ form|crispy }} -->

        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row">
                <div class="col-md-3 mb-3">
                    <div class="form-group">
                        <label for="{{ form.lname.id_for_label }}">Last Name</label>
                        {{ form.lname }}
                    </div>
                </div>
                <div class="col-md-4 mb-3">
                    <div class="form-group">
                        <label for="{{ form.name.id_for_label }}">First Name</label>
                        {{ form.name }}
                    </div>
                </div>
                <div class="col-md-3 mb-3">
                    <div class="form-group">
                        <label for="{{ form.name.id_for_label }}">Middle Name</label>
                        {{ form.mname }}
                    </div>
                </div>
                <div class="col-md-2 mb-3">
                    <div class="form-group">
                        <label for="{{ form.name.id_for_label }}">Suffix</label>
                        {{ form.sname }}
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-3 mb-3">
                    <label for="birthday">Birthday</label>
                    <div class="input-group">
                        <span class="input-group-text"><span class="far fa-calendar-alt"></span></span>
                        <input name="birthday" data-datepicker="" class="form-control" id="birthday"
                            type="text" placeholder="dd/mm/yyyy" value="{{ member.birthday|date:'m/d/Y'|default:'' }}" required>
                    </div>
                </div>
                <div class="col-md-2 mb-3">
                    <div class="form-group">
                        <label for="{{ form.age.id_for_label }}">Age</label>
                        {{ form.age }}
                    </div>
                </div>
                <div class="col-md-7 mb-3">
                    <div class="form-group">
                        <label for="{{ form.bplace.id_for_label }}">Birth Place</label>
                        {{ form.bplace }}
                    </div>
                </div>
            </div>
            <div class="row">
 
            </div>
            <div class="col-md-6 mb-3">
                <div class="form-group">
                    <label for="{{ form.email.id_for_label }}">Email</label>
                    {{ form.email }}
                </div>
            </div>
            <div class="row">
                <div class="col-4">
                    <div class="card card-body bg-white border-light shadow-sm mb-4">
                        <h2 class="h5 mb-4">Select profile photo</h2>
                        <div class="d-xl-flex align-items-center">
                            <div class="file-field">
                                <div class="d-flex justify-content-xl-center ml-xl-3">
                                    <div class="d-flex">
                                        <span class="icon icon-md" id="file-icon">
                                            <span class="fas fa-paperclip mr-3"></span>
                                        </span>
                                        <input type="file" name="{{ form.profile_picture.name }}" id="{{ form.profile_picture.id_for_label }}" onchange="showFileIcon(this)">
                                        <div class="d-md-block text-left">
                                            <div class="font-weight-normal text-dark mb-1">Choose Image</div>
                                            <div class="text-gray small">JPG, GIF, or PNG. Max size of 800K</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <!-- submit Button -->
            <button type="submit" class="btn btn-primary">Save</button>
        </form>

        {% include 'includes/footer.html' %}

    </main>
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script>
    function showFileIcon(input) {
        var fileIcon = document.getElementById('file-icon');
        var iconHtml = '<span class="fas fa-check mr-3" style="color: green;"></span>';
        var defaultIconHtml = '<span class="fas fa-paperclip mr-3"></span>';

        if (input.files && input.files.length > 0) {
            fileIcon.innerHTML = iconHtml;
        } else {
            fileIcon.innerHTML = defaultIconHtml;
        }
    }
</script>
{% endblock javascripts %}
