{% extends "layouts/base.html" %}
{% load static %}

{% block title %} Settings {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <main class="content">

        {% include 'includes/navigation.html' %}

        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-4">
            <div>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb breadcrumb-dark breadcrumb-transparent">
                            <li class="breadcrumb-item"><a href="#"><span class="fas fa-home"></span></a></li>
                            <li class="breadcrumb-item"><a href="#">Membership</a></li>
                            <li class="breadcrumb-item"><a href="#">View</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Information</li>
                        </ol>
                    </nav>
                <h2 class="h4">{{ member.lname }} Personal Information</h2>           
            </div>

            <div>
                <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                    <span class="fas fa-clipboard mr-2"></span>Action
                    <span class="icon icon-small ml-1"><span class="fas fa-chevron-down"></span></span>
                </button>
                <div class="dropdown-menu dashboard-dropdown dropdown-menu-left mt-2">
                    <a class="dropdown-item font-weight-bold" href="#"><span class="fas fa-print mr-2"></span>Print</a>
                    <a class="dropdown-item font-weight-bold" href="#"><span class="fas fa-download mr-2"></span>Export</a>
                    <div role="separator" class="dropdown-divider"></div>
                    <a class="dropdown-item font-weight-bold" href="#"><span
                            class="fas fa-rocket text-success mr-2"></span>Other</a>
                </div>
            </div>
        </div>

            <div class="row">
                <div class="col-12 col-xl-8">
                    <div class="card card-body bg-white border-light shadow-sm mb-4 scrollable-card">
                        <div class="row">
                            <table class="table">
                                <thead  class="thead-dark" >
                                <tr>
                                
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>Full Name: <b>{{ member.name }} {{ member.mname }}, {{ member.lname }}</b></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="row">
                            <table class="table">
                                <thead  class="thead-dark" >
                                <tr>

                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>Birthday: <b>{{ member.birthday|date:'m/d/Y'|default:'' }}</b></td>
                                    <td>Age: <b>{{ member.age }}</b></td>
                                    <td>Gender: <b>{{ member.gender }}</b></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="row">
                            <table class="table">
                                <thead  class="thead-dark" >
                                <tr>

                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>Birth Place: <b>{{ member.bplace }}</b></td>
                                    <td>Civil Status: <b>{{ member.civil_status }}</b></td>
                                    <td>Educational Attainment: <b>{{ member.educational_attainment }}</b></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <br>

                        <table class="table">
                            <thead  class="thead-dark" >
                              <tr>
                                <th scope="col">Type of ID</th>
                                <th scope="col">ID Number</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td>{{ member.type_of_id1 }}</td>
                                <td>{{ member.id1_number }}</td>
                              </tr>
                              <tr>
                                <td>{{ member.type_of_id2 }}</td>
                                <td>{{ member.id2_number }}</td>
                              </tr>
                              <tr>
                                <td>{{ member.type_of_id3 }}</td>
                                <td>{{ member.id3_number }}</td>
                              </tr>
                            </tbody>
                          </table>

                        <table class="table">
                            <thead class="thead-dark">
                              <tr>
                                <th>Permanent Address</th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td scope="col">{{ member.permanent_street }}</td>
                                <td scope="col">{{ member.permanent_purok }}</td>
                                <td scope="col">{{ member.permanent_barangay }}</td>
                                <td scope="col"> {{ member.permanent_city }}</td>
                                <td scope="col">{{ member.permanent_province }}</td>
                              </tr>
                            </tbody>
                        </table>
                        <table class="table">
                            <thead class="thead-dark">
                              <tr>
                                <th>Current Address</th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td scope="col">{{ member.current_street }}</td>
                                <td scope="col">{{ member.current_purok }}</td>
                                <td scope="col">{{ member.current_barangay }}</td>
                                <td scope="col"> {{ member.current_city }}</td>
                                <td scope="col">{{ member.current_province }}</td>
                              </tr>
                              <tr>
                                <td scope="col">Years of Residence: <b>{{ member.years_residence }}</b></td>
                                <td colspan="3">Email: <b>{{ member.email }}</b></td>
                                <td scope="col">Contact: <b>{{ member.contact_number }}</b></td>
                              </tr>
                            </tbody>
                        </table>
                        
                        <table class="table">
                            <thead class="thead-dark">
                              <tr>
                                <th>Occupation</th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td scope="col">Occupation: <b>{{ member.occupation }}</b></td>
                                <td colspan="3">Name of Employer: <b>{{ member.employer_name }}</b></td>
                                <td scope="col">Nature of Work: <b>{{ member.nature_of_work }}</b></td>
                              </tr>
                              <tr>
                                <td>Years in Service: <b>{{ member.years_in_service }}</b></td>
                                <td>Contact Number: <b>{{ member.employer_contact_number }}</b></td>
                                <td></td>
                                <td></td>
                                <td></td>
                              </tr>
                            </tbody>
                        </table>

                        <table class="table">
                            <thead class="thead-dark">
                              <tr>
                                <th>Address of Employer/Agency/Company/Bussiness</th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td scope="col">{{ member.employer_street }}</td>
                                <td scope="col">{{ member.employer_purok }}</td>
                                <td scope="col">{{ member.employer_barangay }}</td>
                                <td scope="col"> {{ member.employer_city }}</td>
                                <td scope="col">{{ member.employer_province }}</td>
                              </tr>
                              <tr>
                                <td scope="col">Anual Income: <b>{{ member.annual_income }}</b></td>
                                <td scope="col"></td>
                                <td scope="col"></td>
                                <td scope="col"></td>
                                <td scope="col"></td>
                              </tr>
                            </tbody>
                        </table>

                        <table class="table">
                            <thead class="thead-dark">
                              <tr>
                                <th>If Married, Spouse Information</th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td scope="col">Full Name: <b>{{ member.sname }} {{ member.smname }}, {{ member.slname }}</b></td>
                                <td scope="col"></td>
                                <td scope="col"></td>
                                <td scope="col"></td>
                                <td scope="col"></td>
                              </tr>
                              <tr>
                                <td scope="col">Birthday: <b>{{ member.sbirthday|date:'m/d/Y'|default:'' }}</b></td>
                                <td scope="col">Age: <b>{{ member.sage }}</b></td>
                                <td scope="col">Birth Place: <b>{{ member.sbplace }}</b></td>
                                <td scope="col"></td>
                                <td scope="col"></td>
                              </tr>
                              <tr>
                                <td scope="col">Educational Attainment: <b>{{ member.seducational_attainment }}</b></td>
                                <td scope="col"></td>
                                <td scope="col"></td>
                                <td scope="col"></td>
                                <td scope="col"></td>
                              </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-12 col-xl-4">
                    <div class="row">
                        <div class="col-12 mb-4">
                            <div class="card border-light text-center p-0">
                                <div class="profile-cover rounded-top"
                                     data-background="/static/assets/img/profile-cover.jpg"></div>
                                <div class="card-body pb-5">
                                    <img src="{{ member.profile_picture.url }}"
                                         class="user-avatar large-avatar rounded-circle mx-auto mt-n7 mb-4"
                                         alt="Neil Portrait">
                                    <h4 class="h4">Acc Number:{{member.account_number}}</h4>
                                    <h4 class="font-weight-normal">{{ member.name }} {{ member.mname }}. {{ member.lname }}</h4>
                                    <h5 class="font-weight-normal">
                                        {{ member.email }}
                                    </h5>
                                    <p class="text-gray mb-4">{{ member.current_barangay }} {{ member.current_city }} {{ member.current_province }}</p>
                                    <a class="btn btn-sm btn-primary mr-2" href="#"><span
                                            class="fas fa-user-plus mr-1"></span> Connect</a>
                                    <a class="btn btn-sm btn-secondary" href="#">Send Message</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        {% include 'includes/footer.html' %}

    </main>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
