{% extends "layouts/base.html" %}

{% block title %} Transactions {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
                
    <main class="content">

        {% include 'includes/navigation.html' %}

            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-4">
                <div class="d-block mb-4 mb-md-0">
                    <nav aria-label="breadcrumb" class="d-none d-md-inline-block">
                        <ol class="breadcrumb breadcrumb-dark breadcrumb-transparent">
                          <li class="breadcrumb-item"><a href="#"><span class="fas fa-home"></span></a></li>
                          <li class="breadcrumb-item"><a href="#">Members</a></li>
                          <li class="breadcrumb-item active" aria-current="page">List</li>
                        </ol>
                    </nav>
                    <h2 class="h4">Members</h2>
                    <p class="mb-0">Your List of Members.</p>
                </div>
                <div class="btn-toolbar mb-2 mb-md-0">
                    <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-outline-primary">Share</button>
                        <button type="button" class="btn btn-sm btn-outline-primary">Export</button>
                    </div>
                </div>
            </div>
            <div class="table-settings mb-4">
                <div class="row align-items-center justify-content-between">
                    <div class="col col-md-6 col-lg-3 col-xl-4">
                        <form class="form-inline mb-4" method="get" action="{% url 'member_detail' %}">
                            <div class="input-group">
                                <input type="text" class="form-control" name="q" value="{{ search_text }}" placeholder="Search members...">
                                <div class="input-group-append">
                                    <button type="submit" class="btn btn-primary">
                                        <span class="fas fa-search"></span> Search
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-4 col-md-2 col-xl-1 pl-md-0 text-right">
                        <div class="btn-group">
                            <a href="{% url 'create_member' %}">
                                <button class="btn btn-secondary text-dark mr-2 dropdown-toggle" aria-haspopup="true" aria-expanded="false">
                                    <span class="fas fa-plus mr-2"></span>New
                                </button>
                            </a> 
                        </div>
                    </div>
                </div>
            </div>
            <div class="card card-body border-light shadow-sm table-wrapper table-responsive pt-0">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Acc#</th>
                            <th>Full Name</th>						
                            <th>Age</th>
                            <th>Email</th>
                            <th>Contact</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for member in members %}
                        <!-- Item -->
                        <tr>
                            <td>{{member.account_number}}</td>
                            <td>
                                <span class="font-weight-normal">{{ member.name }} {{ member.mname }} {{ member.lname }}</span>
                            </td>
                            <td><span class="font-weight-normal">{{ member.age }}</span></td>                        
                            <td><span class="font-weight-normal">{{ member.email }}</span></td>
                            <td><span class="font-weight-bold">{{ member.contact_number }}</span></td>
                            <td>
                                {% if member.status == "pending" %}
                                    <span class="font-weight-bold text-warning">{{ member.status }}</span>
                                {% elif member.status == "disapprove" %}
                                    <span class="font-weight-bold text-danger">{{ member.status }}</span>
                                {% else %}
                                    <span class="font-weight-bold text-success">active</span>
                                {% endif %}
                            </td>
                            <td>
                                <div class="btn-group">
                                    <button class="btn btn-link text-dark dropdown-toggle dropdown-toggle-split m-0 p-0" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <span class="icon icon-sm">
                                            <span class="fas fa-ellipsis-h icon-dark"></span>
                                        </span>
                                        <span class="sr-only">Toggle Dropdown</span>
                                    </button>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" href="{% url 'view_member' member.pk %}"><span class="fas fa-eye mr-2"></span>View</a>
                                        <a class="dropdown-item" href="{% url 'update_member' member.pk %}"><span class="fas fa-edit mr-2"></span>Edit</a>
                                        <a class="dropdown-item text-danger" href="{% url 'delete_member' member.pk %}"><span class="fas fa-trash-alt mr-2"></span>Remove</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td colspan="7">No members found.</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <!-- Add pagination links using Django's built-in pagination -->
                <div class="card-footer px-3 border-0 d-flex align-items-center justify-content-between">
                    {% if members.has_previous %}
                    <a class="btn btn-primary" href="?page=1">First</a>
                    <a class="btn btn-primary" href="?page={{ members.previous_page_number }}">Previous</a>
                    {% endif %}

                    <div class="font-weight-bold small">Showing <b>{{ members.start_index }}</b> - <b>{{ members.end_index }}</b> out of <b>{{ members.paginator.count }}</b> entries</div>

                    {% if members.has_next %}
                    <a class="btn btn-primary" href="?page={{ members.next_page_number }}">Next</a>
                    <a class="btn btn-primary" href="?page={{ members.paginator.num_pages }}">Last</a>
                    {% endif %}
                </div>
            </div>

        {% include 'includes/footer.html' %}

    </main>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
{% endblock javascripts %}
